@{
    ViewData["Title"] = "Home Page";
}

<div class="border border-5 rounded p-5">
    <h2>
        Web Application that helps organizations manage employee leave requests efficiently.
        It allows employees to request time off, and Administrators or Supervisors to approve or deny these requests.
        The application keeps track of all types of leave, such as vacation, sick leave, and other types,
        ensuring accurate records.
    </h2>
</div>
